/* START GLOBAL STYLES */
:root {
    --bg-color: #fafafa;
    --bg-color-yellow: #fff085;
    --color-brand-yellow: #ffd15b;
    --color-brand-orange:#ff7a50;
    ---color-orange-500: #ff6900;
    --red-600: #e7000b;
    --red-500:#fb2c36;
    --blue-600: #155dfc;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "EXO", sans-serif;
    font-size: 14px;
    /* line-height: 1.5; */
    background-color: var(--bg-color);
}

body::selection {
    background-color: var(--color-brand-yellow);
    color: black;
}

a, span {
    display: inline-block;
}

a { 
    text-decoration: none;
}

img {
    max-width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 48px;
    gap: 20px;
}

@media screen and (min-width: 1300px) {
    .container {
        width: 90%;
        margin: auto;
        flex-direction: row;
        gap: 64px;
    }
}

/* END GLOBAL STYLES */

/* START HERO SECTION */
#hero {
    background-color: var(--bg-color-yellow);
    position: relative;
    padding-top: 120px;
}

#hero::before {
    content: "";
    width: 130px;
    height: 130px;
    background-color: black;
    opacity: 0.1;
    position: absolute;
    top: 60px;
    left: 55px;
    rotate: 12deg;
}

#hero::after {
    content: "";
    width: 96px;
    height: 96px;
    background-color: var(--red-500);
    opacity: 0.1;
    position: absolute;
    top: 160px;
    right: 80px;
    rotate: -45deg;
}

#hero .trending-now{
    background-color: black;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 15px;
    box-shadow: 3px 3px black;
    border: 2px solid black;
    transform: rotate(-2deg);
}

#hero h2 span {
    display: block;
    font-size: 4.5rem;
    text-shadow: 3px 3px #000C;
    font-weight: 900;
    text-transform: uppercase;
}

#hero .h-red {
    color: var(--red-600);
}

#hero .h-blue {
    color: var(--blue-600);
}

#hero p {
    background-color: var(--bg-color);
    border: 2px solid black;
    box-shadow: 3px 3px black;
    font-size: 1.5rem;
    padding: 14px;
}

.hero__actions button {
    background-color: var(--bg-color);
    border: 5px solid black;
    box-shadow: 4px 4px black;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 14px 20px;
    text-transform: uppercase;
    margin: 5px;
}

button:hover {
    transform: translate(5.25px,5.25px);
    box-shadow: none;
    transition-duration: 0.2s;
}

.hero__actions .btn-black {
    background-color: black;
    color: white;
}

.hero__actions button img{
    width: 20px;
}

.hero__image {
    position: relative;
    margin-top: 30px;
}

.image-wrapper{
    display: flex;
    max-height: 384px;
    background-color: black;
    border: 5px solid black;
    box-shadow: 6px 6px black;
    overflow: clip;
    justify-content: center;
    align-items: center;
}

.hero__image .featured {
    position: absolute;
    top: 0px;
    right: -25px;
    background-color: var(--red-500);
    color: white;
    border: 5px solid black;
    box-shadow: 4px 4px black;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 10px 24px;
    transform: rotate(6.5deg);
    z-index: 50;
}

.hero__image .image-wrapper:hover {
    transform: translate(-5.25px,-5.25px);
    transition-duration: 0.2s;
}


/* END HERO SECTION */

/* START NAVBAR */

.navbar {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    margin: 15px;
    z-index: 1000;
}

.navbar .container {
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
    background-color: var(--bg-color);
    border: 2px solid black;
    border-radius: 15px;
    max-height: 75px;
    padding: 10px 30px;
    color: black;
    flex-shrink: 1;
}

.navbar__logo {
    min-width: 220px;
    font-weight: 900;
    font-size: 30px;
    padding-left: 5px;
}


.navbar .txt-orange {
    color: var(---color-orange-500);
}

.navbar img {
    width: 42px;
}

 /* @media screen and (max-width: 992){ */
.navbar-side-menu {
   display: none;
}

.navbar-side-menu li {
    list-style: none;
    display: inline;
}

.navbar-side-menu a {
    color: black;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
}

.navbar-side-menu a:hover {
    color: var(---color-orange-500);
    transition-duration: 0.2s;
}

.navbar-side-menu img {
    width: 16px;
}

.side-menu-head {
    display: none;
}

.subscribe-btn {
    background-color: var(--color-brand-yellow);
    border: 2px solid black;
    border-radius: 25px;
    font-weight: 700;
    padding: 14px 20px;
    text-transform: uppercase;
    margin: 5px;
    width: max-content;
    display: none;
    min-width: 160px;
}

.menu-btn {
    background-color: var(--bg-color);
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 4px 4px black;
    font-weight: 600;
    text-transform: uppercase;
    margin: 5px;
}

:target .side-menu-head {
    display: flex;
    justify-content: space-between;
    border-block: solid 3px black;
    font-weight: 900;
    font-size: 21px;
    padding-block: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
    align-items: center;
}

:target .side-menu-head .close-btn {
    background-color: var(--bg-color);
    border: 2px solid black;
    font-weight: 600;
    padding: 10px 10px 7px 10px;
    text-transform: uppercase;
    margin: 0;
}

:target .side-menu-head .close-btn:hover {
    background-color: tomato;
}

:target .navbar-side-menu{
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 20rem;
    width: 80%;
    background-color: var(--bg-color);
    border-left: 5px solid black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 20px;
    gap: 10px;
    font-weight: 800;
    font-size: 19.5px;
    transition-duration: 1s all;
}

:target .navbar-side-menu li {
    width: 100%;
    text-align: left;
}

:target .navbar-side-menu li>img {
    display: none;
}

:target .subscribe-btn {
    display: flex;
    align-self: center;
    border: 5px solid black;
    box-shadow: 4px 4px black;
    border-radius: 0;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 14px 20px;
    text-transform: uppercase;
    margin: 20px;
}
@media screen and (min-width: 1300px) {
    .navbar-side-menu {
        display: flex;
        flex-direction: row;
        gap: 10px;
        border: none;
        justify-content: center;
        align-items: center;
    }
    .navbar .container {
        padding: 5px 2px;   
    }

    .subscribe-btn {
        display: flex;
    }

    .menu-btn {
        display: none;
    }
}

/* END NAVBAR */